# pnpm configuration
auto-install-peers=true
dedupe-peer-dependents=true
strict-peer-dependencies=false
package-import-method=copy
shamefully-hoist=true
public-hoist-pattern=*eslint*
legacy-peer-deps=true
