@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes starTwinkle {
  0%, 100% {
    opacity: 0;
    transform: scale(0.5);
  }
  50% {
    opacity: 1;
    transform: scale(1);
  }
}
